{% extends 'base.html' %}
{% block title %}Knowledge{% endblock title %}
{% block body %}

<style>
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 8px;
}
</style>
<!--Infected-->
<div class="container-fluid my-3">
<h1><b>Coronavirus: What Happens When You Get Infected?</b></h1><br>
<p>A virus infects your body by entering healthy cells. There, the invader makes copies of itself and multiplies throughout your body.
The new coronavirus latches its spiky surface proteins to receptors on healthy cells, especially those in your lungs.
Specifically, the viral proteins bust into cells through ACE2 receptors. Once inside, the coronavirus hijacks healthy cells and takes command. Eventually, it kills some of the healthy cells.
<strong>For more understanding, I would recommend you to watch the video below.</strong></p>
</div>
<div class="container"> 
  <iframe class="responsive-iframe" src="https://www.youtube.com/embed/0G0vq3tVAKE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen alt="Video"></iframe>
</div>

<!--Vaccine-->
<div class="container-fluid my-0 px-2">
<h1><b>
What is a vaccine, and how do vaccines work?</b></h1><br>
<p>A vaccine is a type of medicine that trains the body’s immune system so that it can fight a disease it has not come into contact with before. Vaccines are designed to prevent disease, rather than treat a disease once you have caught it.
<strong>For more understanding, I would recommend you to watch the video below.</strong></p>
</div>
<div class="container"> 
  <iframe class="responsive-iframe" src="https://www.youtube.com/embed/WHWUfk8-sNw?start=34" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen alt="Video"></iframe>
</div>

<!--Ventilator-->
<div class="container-fluid my-0 px-2">
<h1><b>
How do ventilators work?</b></h1><br>
<p>A vaccine is a type of medicine that trains the body’s immune system so that it can fight a disease it has not come into contact with before. Vaccines are designed to prevent disease, rather than treat a disease once you have caught it.
<strong>For more understanding, I would recommend you to watch the video below.</strong></p>
</div>
<div class="container"> 
  <iframe class="responsive-iframe" src="https://www.youtube.com/embed/WHWUfk8-sNw?start=34" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen alt="Video"></iframe>
</div>

<!--Pluse oximeter-->
<div class="container-fluid my-0 px-2">
<h1><b>What is Pulse oximeter and how it works?</b></h1><br>
<p>The pulse oximeter is a small, clip-like device that attaches to a body part, like toes or an earlobe. It’s most commonly put on a finger.<br>
Pulse oximetry is a noninvasive and painless test that measures your oxygen saturation level, or the oxygen levels in your blood. It can rapidly detect even small changes in how efficiently oxygen is being carried to the extremities furthest from the heart, including the legs and the arms.
<strong>For more understanding, I would recommend you to watch the video below.</strong></p>
</div>
<div class="container"> 
  <iframe class="responsive-iframe" src="https://www.youtube.com/embed/N3MCvREORVA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen alt="Video"></iframe>
</div>

<div class="container-fluid my-0 px-2">
<h1><b>How to use Pulse oximeter?</b></h1><br>
<p>
<li>Step 1: Remove any nail polish/false nails & warm your hand if cold.</li>
<li>Step 2: Rest for at least 5 minutes before taking your measurement.</li>
<li>Step 3: Rest your hand on your chest at heart level & hold it still.</li>
<li>Step 4: Switch on the oximeter & place it on your middle or index finger.</li>
<li>Step 5: The reading takes time to steady, Keep the oximeter in place for at least a minute or longer if the reading is not stable.</li>
<li>Step 6: Record the highest result once it has not changed for 5 seconds.</li>
<li>Step 7: Identify each reading carefully.</li>
<li>Step 8: Start recording from baseline & record three times a day at the same time. Take extra measures if you feel a change in your health.</li>
<ul>
<li><b>Need to visit doctors when you feel the below mentioned things.</b></li>
<li>Feel seriously ill.</li>
<li>Are unable to complete short sentences, while resting, due to breathlessness.</li>
<li>Your oxygen level is 92% or less.</li>

</ul>
<strong>For more understanding, I would recommend you to watch the video below.</strong></p>
</div>
<div class="container"> 
  <iframe class="responsive-iframe" src="https://www.youtube.com/embed/2sGj6eMQlZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen alt="Video"></iframe>
</div>
<!--Proning-->
<div class="container-fluid my-3">
<h1><b>What is Proning?</b></h1><br>
<p><li>PRONING is the process of turning a patient with  precise, safe motions, from their back onto  their abdomen (stomach), so the individual is  lying face down.</li> <br>
  <li>Proning is a medically accepted position to improves breathingcomfort and oxygenation.</li><br>
  <li>It is extremely beneficial in COVID-19 patients with compromisedbreathing comfort, especially during home isolation. </li><br>
  <li>Prone positioning improves ventilation, keeps alveolar  units open and breathing easy.</li><br>
  <li><b>Proning is required only when the patient feels difficulty  in breathing and the SpO2 decreases below 94 (less than 94).</b></li></p></ul>
</div>
<div class="container"> 
  <iframe class="responsive-iframe" src="https://www.youtube.com/embed/NVFLKNqqlj0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen alt="Video"></iframe>
</div>
{% endblock body %}